/* .movie-container{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

table,thead,tbody,tr,th,td {
  border: 1px solid black;
  padding: 7px;
  border-collapse: collapse;
  margin: 40px;
  background-color:antiquewhite;
  
}

.open{
  display: block;
}

.close{
  display: none;
}

.sub-child1 {
  width: 400px;
  
}

#sub-child2{
  width: 400px;
  
  margin-top:200px;
  
  
}

#model-container{
  background-color:rgb(194, 221, 245);
  padding: 20px;
}

button{
  padding: 5px;
  margin: 5px;
  background-color:white;
}

input{
  padding: 5px;
 
}

.search{
  margin: 30px;
}
 */


 *{
    margin: 0;
}

nav{
    background-color:midnightblue;
    color: white;
    display: flex;
    padding: 15px;
    font-family: 'Times New Roman', Times, serif;
    justify-content: space-around;
    align-items: center;
    font-weight: 800;
    height: 90px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    /* font-size: larger; */
   
}

.logo{
    /* font-size: larger; */
}

#form{
  display: flex;
  flex-direction: row;
}

a{
    text-decoration: none;
    color: whitesmoke;
}

ul li{
    margin: 0 10PX;
    color: white;
}

.amber{
    display: none;
}

.sub{
    display: none;
}

.sub-lists{
    display: block;
    background-color:white;
    color:black;
    transform:translateX(-30px);
}
 
.sub-lists li {
 padding: 10px ;
 border-bottom: 1px solid black;
}

Link{
    text-decoration: none;
}

.logout{
    display: flex;
    gap: 10px;
 
    cursor: pointer;
}

.msg{
  font-size: 30px
}

.single-data-container{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 40px;
  
}


@media all and (max-width : 756px){

    nav{
        flex-direction: column;
        height: auto;
    }
    nav ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    nav ul li{
        margin: 5px 0;
        color: white;
       
    }

    #form{
      display: flex;
      flex-direction: column;
      width:auto;
    }

    .form-control{
      width: 80%;
    }

    .logo{
        align-self: flex-start;
    }

    .amber{
        display: block;
         position: absolute;
        right: 20px;
        top: 20px 
    }

    .showMenu{
        display: none;
    }
  
   
}




.products-container{
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
  padding :30px;
}

.items{
  border: 1px solid black;
  padding: 50px;
  font-size: 20px;
  background-color: aliceblue;
}

.nav-container{
  display: flex;
  justify-content: space-around;
  padding: 20px;
  background-color: cadetblue;
  color: whitesmoke;
  font-size: larger;
  font-weight: 600;
}

.cart-items{
  display: flex;
  background-color:azure;
  width: 50%;
  justify-content: space-between;
  margin: 20px;
  font-size: 20px;
  padding: 20px;
}

form{

  display: flex;
  flex-direction: column;
 
   align-items: center;
   justify-content: center;
  
   padding: 60px;
   gap: 10px;
}

.alert{
  color: red;
}

.alert2{
  color: green;
}

.search-container{
  padding : 40px;
}